.barra_navegacao{
    height: 9vh;
    width: 100%;
    margin-top: -2vh;
    background-color: rgb(6, 141, 165);
}

.barra_navegacao ul li{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    list-style: none;
    margin-left: 30vh;
    margin-top: 3vh;
}

.barra_navegacao ul li a{
    position: absolute;
    transition: all 2s;
    color: white;
    text-decoration: none;
}
.barra_navegacao ul{
    position: absolute;
    margin-left: 20vh;
}
.barra_navegacao ul li a:hover{
    transition: all 2s;
    font-size: 2vh;
    font-style: italic;
    color: black;
}
.localnav{
    background-color: #a39f9fcc;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 9vh;
    position: absolute;
    width: 100%;
    height: 4vh;
}
.localnav h4{
    position: absolute;
    margin-left: 20vh;
    margin-top: 1vh;

}

.logo{
    color: white;
    margin-top: 1vh;
    height: 6vh;
    width: 19vh;
    position: absolute;
    margin-left: 10vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif
}

.banner{
    height: 30vh;
    width: 100%;
    background-color: rgb(6, 141, 165);;
    margin-top: 5vh;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner article{
    margin-left: 6vh;
    margin-top: 10vh;
    position: absolute;
}

.banner h1{
    font-size: 4vh;
}

#btBannerAnterior{
    background-color: tomato;
    height: 6vh;
    width: 6vh;
    padding: 2vh;
    margin-top: 13vh;
    position: absolute;
}

#btBannerProximo{
    background-color: tomato;
    height: 6vh;
    width: 6vh;
    padding: 2vh;
    margin-top: 13vh;
    margin-left: 185vh;
    position: absolute;
}