.barra_navegacao{
    height: 9vh;
    width: 100%;
    margin-top: -2vh;
    background-color: rgb(6, 141, 165);
}

.barra_navegacao ul li{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    list-style: none;
    margin-left: 30vh;
    margin-top: 3vh;
}

.barra_navegacao ul li a{
    position: absolute;
    transition: all 2s;
    color: white;
    text-decoration: none;
}
.barra_navegacao ul{
    position: absolute;
    margin-left: 20vh;
}
.barra_navegacao ul li a:hover{
    transition: all 2s;
    font-size: 2vh;
    font-style: italic;
    color: black;
}
.localnav{
    background-color: #a39f9fcc;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 9vh;
    position: absolute;
    width: 100%;
    height: 4vh;
}
.localnav h4{
    position: absolute;
    margin-left: 20vh;
    margin-top: 1vh;

}

.logo{
    color: white;
    margin-top: 3vh;
    height: 6vh;
    position: absolute;
    margin-left: 10vh;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif
}

.banner{
    height: 30vh;
    width: 100%;
    background-color: rgb(6, 141, 165);;
    margin-top: 5vh;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner article{
    margin-left: 6vh;
    margin-top: 10vh;
    position: absolute;
}

.banner h1{
    font-size: 4vh;
}

#btBannerAnterior{
    background-color: tomato;
    height: 6vh;
    width: 6vh;
    padding: 2vh;
    margin-top: 13vh;
    position: absolute;
}

#btBannerProximo{
    background-color: tomato;
    height: 6vh;
    width: 6vh;
    padding: 2vh;
    margin-top: 13vh;
    margin-left: 185vh;
    position: absolute;
}

.cardsElementos{
    background-color: #cccccc;
    margin-left: 10vh;
    margin-top: 2vh;
    height: 40vh;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.card{
    height: 30vh;
    width: 20vh;
    font-size: 3vh;
    background-color: #0a6599;
    color: rgb(239, 241, 243);
    padding: 2vh;
    margin-top: 3vh;
    margin-left: 3vh;
    border-radius: 2vh;
    
}

.sb{
    box-shadow: 0.4vh 0.5vh;

}
    


.card h1{
    font-size: 3vh;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card h4{
    color: white;
}

.cardProduto{
    background-color: green;
    color: white;
    height: 30vh;
    width: 20vh;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 3vh;
    border-radius: 2vh;
}

.cardNintendo{
    background-color: red;
    color: white;
    height: 30vh;
    width: 20vh;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 3vh;
    border-radius: 2vh;

}

.cardPc{
    background-color: rgb(18, 2, 24);
    color: rgb(255, 85, 6);
    height: 30vh;
    width: 20vh;
    font-size: 3vh;
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 3vh;
    border-radius: 2vh;

}

.cardProduto:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: rgb(9, 196, 84);
}

.card:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: rgb(6, 6, 112);   
}

.cardPc:hover{
    transition: all 2s;
    transform: scale(1.2);
}

.cardNintendo:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: rgb(250, 79, 49);

}

footer{
    width: 100%;
    height: 9vh;
    background-color: rgb(6, 141, 165) ;
    color: white;
    margin-top: 5vh;
}

footer h4{
    width: 100%;
    text-align: center;
    padding: 2vh;
}

.socialmedia{
    position: absolute;
    float: left;
}

.socialmedia ul{
    margin-top: 3vh;
}

.socialmedia ul li{
    float: left;
    margin-left: 5vh;
    list-style: none;
}

.socialmedia ul li a img{
    height: 3vh;
}

#VitrinePrdutos{
    background-color: slategray;
    height: 40vh;
    width: 140vh;
    display: flex;
    margin-top: 4vh;
    margin-left: 20vh;
}
.produto{
    height: 40vh;
    width: 120vh;
    background-color: slategray;
    margin-top: 10vh;
    margin-left: 20vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
}
.produto article{
    padding: 2vh;
}
.produto article img{
    height: 30vh;
}
.produto article h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcc;
}
.DescProdutos{
    margin-top: 6vh;
    color:#ffffff;
    
}

@media screen and (max-width:380px) and (max-height:770px){
    /*body{
        background-color: #ff4500;
    }*/
    .logo{
        margin-left: 19vh;
        margin-top: 2vh;
    }
    #Menu_02{
        background-color: rgb(17, 92, 141);
        margin-left: -2vh;
        margin-top: 8vh;
        z-index: 99;
        width: 100%;
        height: 10vh;
        visibility: hidden;
        transition: none;
    }
    #Menu_02 li{
        transition: none;
        margin-top: 4vh;
        margin-left: 12vh;
    }
    .barra_navegacao ul li{
        transition: none;
    }
    .localnav{
        width: 96%;
    }
    .localnav h4{
        margin-top: 1vh;
    }
    #btBannerProximo{
        margin-left: 48vh;
    }
    .banner article{
        margin-top: 3vh;
    }
    .cardsElementos{
        flex-direction: column;
        margin-left: 2vh;
        overflow-y: auto;
        align-items: center;
    }
    footer{
        height: 14vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .socialmedia{
        margin-top: 5vh;
        margin-left: 11vh;
    }
    #VitrineProdutos{
        background-color: gray;
        margin-top: 7vh;
        width: 98.9%;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-bottom: 4vh;
    }
   
        

}

@media screen and (max-width:770px) and (max-height:380px){
    /*body{
        background-color: #2208b8;
    }*/
    #Menu_02{
        width: 70%;

    }
    #Menu_02 li {
        margin-left: 28vh;

    }
    #barra_01{
        height: 15vh;
    }
    .localnav{
        margin-top: 14vh;
        width: 97.8%;
        height: 8vh;
    }
    #banner_1{
        margin-top: 12vh;
    }
    #btBannerProximo{
        margin-left: 167vh;
    }
    .cardsElementos{
        justify-content: center;
    }
    .banner article{
        margin-top: 1vh;
    }
    .card,.cardProduto{
        margin-left: 8vh;
    }
    .cardProduto h1{
        font-size: 5vh;
    }
    #VitrineProdutos{
        margin-top: 10vh;
        background-color: gray;
        display: flex;
        flex-direction: row;
        padding: 1vh;
    }


}
    
